<div class="container-personas">
    <h3>Lista de personas</h3>
    <a mat-raised-button color="primary" routerLink="/registrarPersona">Agregar</a>
    <!-- <div class="container-busqueda columna">
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput type="text">
        </mat-form-field>
    </div> -->
    <div>
        <mat-card>
            <mat-sidenav-container>
                <mat-form-field>
                    <mat-label>Buscar persona</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
                </mat-form-field>
                <div class="mat-elevation-z8">
                    <!--                     <table mat-table [dataSource]="dataSource.data | paginacion:page_size:page_number " class="mat-elevation-z8" matSort> -->
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

                        <!-- Row shown when there is no matching data. -->
                        <!-- fila pruncipal -->
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        <!-- columna de posiciones -->
                        <ng-container matColumnDef="posicion">
                            <th mat-header-cell *matHeaderCellDef> No. </th>
                            <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
                        </ng-container>

                        <!-- columna de nombre -->
                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef> nombre </th>
                            <td mat-cell *matCellDef="let element"> {{element.nombreCompleto}} </td>
                        </ng-container>

                        <!-- columna de correo -->
                        <ng-container matColumnDef="correo">
                            <th mat-header-cell *matHeaderCellDef> correo </th>
                            <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
                        </ng-container>

                        <!-- columna de acciones -->
                        <ng-container matColumnDef="acciones">
                            <th mat-header-cell *matHeaderCellDef> acciones </th>
                            <td mat-cell *matCellDef="let element; let i=index">
                                <button mat-raised-button [routerLink]="['/editarPersona',element.personaId]" color="primary">Editar</button> /
                                <button mat-raised-button color="warn" (click)="eliminar(element,i)">Eliminar</button>
                            </td>
                        </ng-container>
                    </table>
                    <mat-paginator [length]="dataSource.data.length" [pageSize]="page_size" [pageSizeOptions]="pageSizeOptions" (page)="handlePage($event)">
                    </mat-paginator>
                </div>
            </mat-sidenav-container>
        </mat-card>
    </div>
</div>