<mat-card class="">
    <mat-card-title>Inicio de session</mat-card-title>
    <form>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Nombre Alumno</mat-label>
                <input matInput>
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Apellidos </mat-label>
                <input matInput>

                <mat-hint>Hint</mat-hint>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Direccion</mat-label>
                <input matInput>

                <mat-hint>Hint</mat-hint>
            </mat-form-field>
        </p>
        <div>
            <button type="submit" mat-raised-button color="primary">Acceder</button>
        </div>

    </form>
</mat-card>